@model BookReviews.Web.ViewModels.RegisterVM
@using BookReviews.Impl;

@{
    ViewBag.Title = "Register";
}

<div>
    <h3>@ViewBag.Title</h3>

    @Html.Partial("_ResultMessage")

    <p>
        To register an account, please provide the following information.
        The password must meet the following criteria:
        <ul>
            <li>At least 10 characters long</li>
            <li>Contains at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character</li>
            <li>The following special characters are allowed: ! @@ # $ % ^ &amp; * - _ = +</li>
        </ul>
    </p>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-vertical" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-90">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress, new { maxLength = Globals.MaxLengths.User.EmailAddress, @class = "form-field" })
            @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "form-error" })
        </div>
        <div class="col-90">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { maxLength = Globals.MaxLengths.User.Password, 
                type = "password", @class = "form-field" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "form-error" })
        </div>
        <div class="col-90">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { maxLength = Globals.MaxLengths.User.Password, 
                type = "password", @class = "form-field" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "form-error" })
        </div>
        <div class="col-90">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { maxLength = Globals.MaxLengths.User.FirstName, @class = "form-field" })
            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "form-error" })
        </div>
        <div class="col-90">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { maxLength = Globals.MaxLengths.User.LastName, @class = "form-field" })
            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "form-error" })
        </div>
        <div>
            <button type="submit" value="Submit">Register</button>
        </div>
    }
</div>
