@model BookReviews.Web.ViewModels.RegisterVM

@{
    ViewBag.Title = "Register";
}

<div>
    <h3>Register</h3>

    @Html.Partial("_ResultMessage")

    <p>
        To register an account, please provide the following information.
        The password must meet the following criteria:
        <ul>
            <li>At least 10 characters long</li>
            <li>Contains at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character</li>
            <li>The following special characters are allowed: ! @@ # $ % ^ &amp; * - _ = +</li>
        </ul>
    </p>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-vertical" }))
    {
        <div>
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress, new { maxLength = 100 })
            @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "form-error" })
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { maxLength = 50, type = "password" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "form-error" })
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { maxLength = 50, type = "password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "form-error" })
        </div>
        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { maxLength = 50 })
            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "form-error" })
        </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { maxLength = 50 })
            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "form-error" })
        </div>
        <div>
            <button type="submit" value="Submit">Register</button>
        </div>
    }
</div>
