@using BookReviews.Web.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/datatables")
    @Styles.Render("~/Content/css/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="page">
        <nav id="nav-bar">
            <img class="nav-item nav-logo" src="~/Content/Images/BookReviewsLogo.png" width="200" height="40" alt="Logo" />

            @if (CurrentUser.IsLoggedIn())
            {
                @Html.ActionLink("My Reviews", "UserReviews", "Review", new { id = CurrentUser.Id, year = DateTime.Today.Year }, 
                    new { @class = "nav-item nav-link" })

                @Html.ActionLink("Search Books", "Search", "Book", null, new { @class = "nav-item nav-link" })

                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "nav-item-right nav-form" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" value="Submit" class="nav-link">Log Out</button>
                }
            }
            else
            {
                @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "nav-item-right nav-link" })
            }
        </nav>
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <footer>&copy; @DateTime.Today.Year Justine Lorenc</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
</body>
</html>
