@model BookReviews.Impl.Models.Book
@using BookReviews.Impl.Models.Enums;
@using BookReviews.Web.Utilities;

@{
    ViewBag.Title = Model.Title;
}

@Html.HiddenFor(m => m.Id)

<div class="book-info">
    @{
        string authors = ViewExtensions.GetAuthorLinks(Model.Authors);
    }

    <div class="book-cover">
        @Html.Raw(ViewExtensions.GetCoverImage(Model.CoverUrl))
    </div>

    <div class="book-details">
        <h3>@Model.Title</h3>

        @if (!String.IsNullOrWhiteSpace(Model.SubTitle))
        {
            <div>@Model.SubTitle</div>
        }

        <div class="core-detail">By @Html.Raw(authors)</div>

        <div class="core-detail">@Model.Pages pages</div>

        <div class="core-detail">Published @Model.DatePublished.ToString("MMMM d, yyyy")</div>

        <div>@Model.Description</div>
    </div>
</div>

