@model BookReviews.Impl.Models.Book
@using BookReviews.Impl.Models.Enums;
@using BookReviews.Web.Utilities;

@{
    ViewBag.Title = "Index";
}

@Html.HiddenFor(m => m.Id)

<div class="container">
    <h2>@Model.Title</h2>
    <div>
        <img src="@Model.CoverUrl" />
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.SubTitle))
    {
        <div>Model.SubTitle</div>
    }
    <div>
        @{
            string authors = ViewExtensions.GetAuthorLinks(Model.Authors);
        }

        By @Html.Raw(authors)
    </div>
    <div>
        @Model.Pages pages
    </div>
    <div>
        Published @Model.DatePublished.ToLongDateString()
    </div>
    <div>
        @Model.Description
    </div>
</div>

