@model BookReviews.Web.Models.BookInfo
@using BookReviews.Impl.Models.Enums;
@using BookReviews.Web.Models;
@using BookReviews.Web.Models.Enums;
@using BookReviews.Web.Utilities;

@{
    ViewBag.Title = Model.Book.Title;
}

@Html.Partial("_ResultMessage")

<div id="book-info">
    <div>
        @Html.Raw(ViewExtensions.GetCoverImage(Model.Book.CoverUrl, ImageSize.Large))
    </div>

    <div class="book-details">
        <h3>@Model.Book.Title</h3>

        @if (!String.IsNullOrWhiteSpace(Model.Book.SubTitle))
        {
            <div>@Model.Book.SubTitle</div>
        }

        <div class="core-detail">By @Html.Raw(ViewExtensions.GetAuthorLinks(Model.Book.Authors))</div>

        <div class="core-detail">@Model.Book.Pages.ToString("#,##0") pages</div>

        <div class="core-detail">Published @Model.Book.DatePublished.ToString("MMMM d, yyyy")</div>

        @if (!String.IsNullOrWhiteSpace(Model.Book.Description) && Model.Book.Description.Length > 0)
        {
            if (Model.Book.Description.Length <= 500)
            {
                <div>@Model.Book.Description</div>
            }
            else
            {
                <div id="book-description-short">@ViewExtensions.TruncateDescription(Model.Book.Description, 500)</div>

                <div id="book-description-full">@Model.Book.Description</div>

                <a href="" id="toggle-description" data-state="more">More</a>
            }
        }
    </div>
</div>

<div id="book-reviews" class="book-reviews">
    @Html.Partial("~/Views/Review/_BookReviews.cshtml", Model.Reviews)
</div>


    @section Scripts {
        <script type="text/javascript">
        $(document).ready(function () {
            $("#book-description-short").show();
            $("#book-description-full").hide();

            function getResultMessage(messageType, messageText) {
                let resultMessage = "<div class='message-" + messageType + "'>" + messageText + "</div>";
                return resultMessage;
            }

            $("#btn-delete-review").on("click", function (event) {
                event.preventDefault();
                const reviewId = $(this).attr("data-review-id");
                const bookId = $(this).attr("data-book-id");
                let token = $("input[name=__RequestVerificationToken]").val();

                let url = "/reviews/" + reviewId + "/delete?bookId=" + bookId;

                $.ajax({
                    type: "POST",
                    url: url,
                    data: { __RequestVerificationToken: token },
                    dataType: "json",
                    success: function (result) {
                        if (result.success === true) {
                            location.reload();
                        }
                        else {
                            let errorMessage = getResultMessage("error", "Failed to delete review");
                            $("#result-message").html(errorMessage);
                        }
                    },
                    error: function () {
                        let errorMessage = getResultMessage("error", "Failed to delete review");
                        $("#result-message").html(errorMessage);
                    }
                });
            });

            $("#toggle-description").on("click", function (event) {
                event.preventDefault();
                let currentState = $(this).attr("data-state");

                if (currentState === "more") {
                    $("#book-description-short").hide();
                    $("#book-description-full").show();
                    $(this).attr("data-state", "less")
                    $(this).text("Less");
                }
                else {
                    $("#book-description-short").show();
                    $("#book-description-full").hide();
                    $(this).attr("data-state", "more")
                    $(this).text("More");
                }
            })

            $("#book-reviews").on("change", "#review-sort-select", function () {
                const bookId = $(this).attr("data-book-id");
                let sortBy = $(this).val();

                let url = "/books/" + bookId + "/reviews?sortBy=" + sortBy;

                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: "html",
                    success: function (result) {
                        if (result != null) {
                            $("#book-reviews").html(result);
                        }
                        else {
                            let errorMessage = getResultMessage("error", "Failed to retrieve reviews");
                            $("#result-message").html(errorMessage);
                        }
                    },
                    error: function () {
                        let errorMessage = getResultMessage("error", "Failed to retrieve reviews");
                        $("#result-message").html(errorMessage);
                    }
                });
            });
        });
        </script>
    }
