@model SearchVM
@using BookReviews.Impl;
@using BookReviews.Web.Models.Enums;
@using BookReviews.Web.ViewModels;
@using BookReviews.Web.Utilities;

@{
    ViewBag.Title = "Search";
}

<div>
    <h3>@ViewBag.Title</h3>

    @Html.Partial("_ResultMessage")

    @using (Html.BeginForm("Search", "Book", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        <div class="col-30">
            @Html.EnumDropDownListFor(m => m.SearchCategory, new { @class = "form-field" })
            @Html.ValidationMessageFor(m => m.SearchCategory)
        </div>
        <div class="col-45">
            @Html.TextBoxFor(m => m.SearchTerm, new { maxLength = Globals.MaxLengths.SearchTerm, @class = "form-field" })
            @Html.ValidationMessageFor(m => m.SearchTerm)
        </div>
        <div>
            <button type="submit" value="Submit">Search</button>
        </div>
    }

    @if (Model != null && !String.IsNullOrWhiteSpace(Model.SearchTerm))
    {
        <h4>@Model.Results.Count results for "@Model.SearchTerm"</h4>

        foreach (var result in Model.Results)
        {
            <div class="search-result">
                <div class="book-cover">
                    @Html.Raw(ViewExtensions.GetCoverImage(@result.CoverUrl, ImageSize.Medium))
                </div>

                <div class="book-summary">
                    <div>
                        @Html.Raw(ViewExtensions.GetTitleLink(result.Title, result.Id))
                    </div>

                    <div>By @Html.Raw(ViewExtensions.GetAuthorLinks(result.Authors, 2))</div>

                    <div>Published @result.DatePublished.Year</div>

                    <div>@ViewExtensions.TruncateDescription(result.Description, 300)</div>
                </div>
            </div>
        }
    }
</div>
